<ion-content>

  <div class="campaigns-container">

    <div class="campaigns-header">

      <h1>Campanhas Ativas</h1>

      <p>
        Acompanhe campanhas disponíveis para suas crianças.
      </p>

    </div>

    <div class="campaign-card">

      <h2>Influenza 2026</h2>

      <p>
        Campanha destinada para crianças de 6 meses a 5 anos.
      </p>

      <span>
        Disponível
      </span>

    </div>

    <div class="campaign-card">

      <h2>Multivacinação</h2>

      <p>
        Atualização da carteira vacinal infantil.
      </p>

      <span>
        Disponível
      </span>

    </div>

    <button
      class="btn-secondary"
      routerLink="/dashboard">

      Voltar ao Dashboard

    </button>

  </div>

</ion-content>