<ion-content [fullscreen]="true">

  <div class="campaigns-container">

    <div class="campaigns-card">

      <div class="campaigns-back" routerLink="/dashboard">

        <ion-icon name="arrow-back-outline"></ion-icon>

        <span>Voltar</span>

      </div>

      <div class="campaigns-header">

        <ion-icon class="page-icon" name="megaphone-outline"></ion-icon>

        <h1>Campanhas</h1>

        <p>Acompanhe campanhas de vacinação disponíveis para o público infantil.</p>

      </div>

      <div class="campaign-card" *ngFor="let campaign of campaigns">

        <div class="campaign-info">

          <h2>{{ campaign.title }}</h2>

          <p>{{ campaign.description }}</p>

          <span class="status-active">{{ campaign.status }}</span>

        </div>


      </div>

    </div>

  </div>

</ion-content>