.dashboard-container {
  min-height: 100vh;
  padding: 2rem;
  background-color: #fff;
}

.dashboard-header {
  margin-bottom: 2rem;
  text-align: center;
}

.dashboard-header h1 {
  color: #473c33;
  margin-bottom: 0.5rem;
  font-family:cursive;
  font-size: 3rem;
}

.dashboard-header p {
  color: #666;
}

.summary-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.summary-card {
  background-color: #abc270;
  color: #473c33;
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
}

.summary-cards h3 {
  font-size: 2rem;
  margin: 0;
}

.dashboard-button {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 12px;
  background-color: #fec868;
  color: #473c33;
  font-weight: 600;
  cursor: pointer;
}

.children-section,
.campaigns-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.children-section h2,
.campaigns-section h2 {
  color: #473c33;
  margin-bottom: 1rem;
}

button {
  padding: 1rem;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  width: 50%;
}

.btn-primary {
  background: #abc270;
  color: #473c33;
  border-left: 4px solid #473c33;
  border-right: 4px solid #473c33;
  padding: 2rem;
  border-radius: 12px;
}

.btn-secondary {
  background: #fec868;
  color: #473c33;  
  border-left: 4px solid #473c33;
  border-right: 4px solid #473c33;
  padding: 2rem;
  border-radius: 12px;
}

.child-card h3,
.campaign-card h3 {
  margin-bottom: 0.5rem;
  color: #473c33;
}

p {
  color: #473c33;
}
