<div class="landing-container">
  <div class="landing-content">
    <h1>KidCareVax</h1>

    <h2>Gestão Vacinal Infantil</h2>

    <div class="landing-features">
      <span>✔ Histórico Vacinal</span>
      <span>✔ Múltiplas Crianças</span>
      <span>✔ Campanhas de Vacinação</span>
    </div>

    <p>
      Acompanhe o calendário vacinal das crianças de forma simples, segura e
      organizada.
    </p>

    <div class="landing-actions">
      <button class="btn-primary" routerLink="/login">Entrar</button>
    </div>
    
    <div>
      <button class="btn-secondary" routerLink="/register">Criar Conta</button>
    </div>
  </div>
</div>
