<ion-content>

  <div class="add-vaccine-container">

    <div class="add-vaccine-header">

      <h1>Registrar Vacina</h1>

      <p>
        Atualize o histórico vacinal da criança.
      </p>

    </div>

    <form class="add-vaccine-form">

      <input
        type="text"
        placeholder="Nome da Vacina"
        [(ngModel)]="name"
        name="name"
      />

      <input
        type="date"
        [(ngModel)]="applicationDate"
        name="applicationDate"
      />

      <select
        [(ngModel)]="status"
        name="status">

        <option value="">
          Status da Vacina
        </option>

        <option value="Aplicada">
          Aplicada
        </option>

        <option value="Pendente">
          Pendente
        </option>

        <option value="Atrasada">
          Atrasada
        </option>

      </select>

      <button
        type="button"
        class="btn-primary"
        (click)="saveVaccine()">

        Salvar

      </button>

      <button
        type="button"
        class="btn-secondary"
        routerLink="/child-details">

        Cancelar

      </button>

    </form>

  </div>

</ion-content>