<ion-content>
  <div class="register-container">

    <div class="register-card">

      <h1>KidCareVax</h1>

      <h2>Criar Conta</h2>

      <p>Cadastre-se para acompanhar a jornada vacinal das crianças de forma simples e organizada.</p>

      <input type="text" placeholder="Nome Completo"/>

      <input type="text" placeholder="CPF"/>

      <input type="password" placeholder="Senha"/>

      <input type="password" placeholder="Confirmar Senha"/>

      <button class="btn-primary" routerLink="/dashboard">Criar Conta</button>

      <button class="btn-secondary" routerLink="/login">Já possuo conta</button>

    </div>

  </div>
</ion-content>