<ion-content>
  <div class="register-container">

    <div class="register-card">

      <h1>KidCareVax</h1>

      <h2>Criar Conta</h2>

      <p>
        Cadastre-se para acompanhar a jornada vacinal das crianças.
      </p>

      <input
        type="text"
        placeholder="Nome Completo"
        [(ngModel)]="name"
      />

      <input
        type="text"
        placeholder="CPF"
        [(ngModel)]="cpf"
      />

      <input
        type="email"
        placeholder="E-mail"
        [(ngModel)]="email"
      />

      <input
        type="password"
        placeholder="Senha"
        [(ngModel)]="password"
      />

      <input
        type="password"
        placeholder="Confirmar Senha"
        [(ngModel)]="confirmPassword"
      />

      <button
        class="btn-primary"
        (click)="register()">

        Criar Conta

      </button>

      <button
        class="btn-secondary"
        routerLink="/login">

        Já possuo conta

      </button>

    </div>

  </div>
</ion-content>