<ion-content [fullscreen]="true">

  <div class="register-container">

    <div class="register-card">

      <div class="register-header">

        <img src="assets/images/logo.svg" alt="KidCareVax" class="logo"/>

        <h2>Criar Conta</h2>

        <p>Cadastre-se para acompanhar a jornada vacinal das crianças.</p>

      </div>

      <div class="register-form">

        <input type="text" placeholder="Nome Completo" [(ngModel)]="name"/>

        <input type="text" placeholder="CPF" [(ngModel)]="cpf"/>

        <input type="email" placeholder="E-mail" [(ngModel)]="email"/>

        <input type="password" placeholder="Senha" [(ngModel)]="password"/>

        <input type="password" placeholder="Confirmar Senha" [(ngModel)]="password">

        <button class="btn-primary" (click)="register()">Criar Conta</button>

        <button class="btn-secondary" routerLink="/login">Já possuo conta</button>

      </div>

    </div>

  </div>

</ion-content>