<ion-content>

  <div class="add-child-container">

    <div class="add-child-header">
      <h1>Cadastrar Criança</h1>

      <p>
        Adicione uma nova criança ao acompanhamento vacinal.
      </p>
    </div>

    <form class="add-child-form">

      <input
        type="text"
        placeholder="Nome Completo"
      />

      <input
        type="date"
      />

      <select>
        <option>Selecione o Sexo</option>
        <option>Masculino</option>
        <option>Feminino</option>
      </select>

      <button
        type="button"
        class="btn-primary"
        routerLink="/children">

        Salvar

      </button>

      <button
        type="button"
        class="btn-secondary"
        routerLink="/children">

        Cancelar

      </button>

    </form>

  </div>

</ion-content>