<ion-content [fullscreen]="true">

  <div  class="children-container">

    <div class="children-card">

      <div class="children-back" routerLink="/dashboard">

        <ion-icon name="arrow-back-outline"></ion-icon>

        <span>Voltar</span>

      </div>

      <div  class="children-header">

        <ion-icon name="people-outline"></ion-icon>

        <h1>Minhas Crianças</h1>

        <p>Gerencie os perfis cadastrados e acompanhe a situação vacinal.</p>

      </div>

      <button class="btn-add" routerLink="/add-child">

        <ion-icon name="add-circle-outline"></ion-icon>

        Cadastrar Criança

      </button>

      <div class="child-card" *ngFor="let child of children" routerLink="/child-details">

        <div class="child-info">

          <h2>{{ child.name }}</h2>

          <p>
            <strong>Nascimento</strong>
            {{ child.birthDate }}
          </p>

          <span class="status-ok">✔ Em dia</span>
        </div>

        <div class="child-arrow">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>

      </div>

    </div>

  </div>

</ion-content>
