<ion-content>
    <div class="children-container">

        <div class="children-header">
            <h1>Minhas Crianças</h1>

            <p>Gerencie os perfis e acompanha a situação vacinal.</p>
        </div>

        <div class="child-card">

            <h2>Lucas</h2>

            <p>4 anos</p>

            <span class="status-ok">Em dia</span>

            <button class="btn-primary" routerLink="/child-details">Ver Detalhes</button>

        </div>

        <div class="child-card">

            <h2>Sofia</h2>

            <p>2 anos</p>

            <span class="status-warning">Vacina Pendente</span>

            <button class="btn-primary" routerLink="/child-details">Ver Detalhes</button>

        </div>

        <button class="btn-secondary"> + Cadastrar Criança</button>

    </div>
</ion-content>
