<ion-content>
  <div class="children-container">
    <div class="children-header">
      <h1>Minhas Crianças</h1>

      <p>Gerencie os perfis e acompanha a situação vacinal.</p>
    </div>
    <div class="child-card" *ngFor="let child of children">
      <h2>{{ child.name }}</h2>

      <p>{{ child.birthDate }}</p>

      <span class="status-ok"> Em dia </span>

      <button class="btn-primary" routerLink="/child-details">
        Ver Detalhes
      </button>
    </div>

    <button class="btn-secondary" routerLink="/add-child">
      + Cadastrar Criança
    </button>
  </div>
</ion-content>
