<ion-content [fullscreen]="true">
  <div class="login-container">

    <div class="login-card">

      <div class="login-header">
        <img src="assets/images/logo.svg" alt="KidCareVax" class="logo"/>

        <h2>Login</h2>

        <p>Acesse sua conta para acompanhar a jornada vacinal das crianças</p>
      </div>

      <div class="login-form">

        <input type="email" placeholder="E-mail" [(ngModel)]="email"/>

        <input type="password" placeholder="Senha" [(ngModel)]="password"/>

        <button class="btn-primary" (click)="login()">Entrar</button>

        <button class="btn-secondary" routerLink="/register">Criar Conta</button>
      </div>

      <div class="login-footer">
        <p>Não possui uma conta?</p>
      </div>

    </div>

  </div>

</ion-content>