<ion-content>
  <div class="login-container">

    <div class="login-card">

      <h1>KidCareVax</h1>

      <h2>Login</h2>

      <p>
        Acesse sua conta para acompanhar a jornada vacinal das crianças.
      </p>

      <input
        type="email"
        placeholder="E-mail"
        [(ngModel)]="email"
      />

      <input
        type="password"
        placeholder="Senha"
        [(ngModel)]="password"
      />

      <button
        class="btn-primary"
        (click)="login()">

        Entrar

      </button>

      <button
        class="btn-secondary"
        routerLink="/register">

        Criar Conta

      </button>

      <p class="txt">
        Não possui uma conta?
      </p>

    </div>

  </div>
</ion-content>